/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', 'Jost', sans-serif, Arial, sans-serif;
    list-style: none;
    text-decoration: none;
}

/* Header */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 5%;
    background: #f0f0f0;
}

/* Sticky Header */
header.sticky {
    background: #f0f0f0 !important;
    padding: 0.75rem 5% !important;
    box-shadow: none !important;
}

/* Navigation Menu */
.navmenu {
    display: flex;
    gap: 2rem;
}

.navmenu li a {
    color: #333;
    font-size: 0.95rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navmenu li a:hover,
.navmenu li a.active {
    color: #e63946;
}

/* Style for the signup popup */
.signup-popup {
    display: none; /* Initially hidden */
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 2000;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}
.cart-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.cart-modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.cart-total {
    margin-top: 20px;
}


.search-box {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 5px;
}

.search-box input {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
}

.search-box button {
    padding: 8px 10px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #555;
}


.product-card {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 200px;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-card h4 {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}

.product-card p {
    color: #555;
    font-size: 14px;
}



/* Dark Mode */
body.dark-mode {
    background-color: #121212;
    color: #fff;
}

body.dark-mode header {
    background-color: #1e1e1e;
    color: #ffffff;
}

body.dark-mode .navmenu a {
    color: #fff;
}

body.dark-mode .navmenu a:hover {
    color: #ff5252;
}

body.dark-mode .nav-icon i {
    color: #fff;
}

body.dark-mode .nav-icon i:hover {
    color: #ff5252;
}

body.dark-mode .main-home {
    background-color: #1e1e1e;
    color: #ffffff;
}

body.dark-mode .main-btn {
    border-color: #ffffff;
    color: #ffffff;
}

body.dark-mode .main-btn:hover {
    background-color: #ff5252;
    color: #ffffff;
}

body.dark-mode .center-text h2,
body.dark-mode .center-text span {
    color: #ffffff;
}

body.dark-mode .products .row img {
    filter: brightness(0.8);
}

body.dark-mode .reviews,
body.dark-mode .contact,
body.dark-mode .update-cart {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

body.dark-mode .end-text {
    background-color: #232323;
    color: #ffffff;
}

/* Dark Mode Button */
.dark-mode-btn {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #2c2c2c;
    transition: color 0.3s ease;
}

body.dark-mode .dark-mode-btn {
    color: #ffffff;
}

/* Logo */
.logo img {
    max-width: 80px;  /* Adjusted logo size */
    height: auto;
}

/* Navigation */
.navmenu {
    display: flex;
}

.navmenu a {
    color: #2c2c2c;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all 0.42s ease;
}

.navmenu a:hover {
    color: red;
}

.nav-icon {
    display: flex;
    align-items: center;
}

.nav-icon i {
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
    transition: all 0.42s ease;
}

.nav-icon i:hover {
    transform: scale(1.1);
    color: red;
}

/* Menu Icon */
#menu-icon {
    font-size: 35px;
    color: #2c2c2c;
    z-index: 10001;
    cursor: pointer;
}

/* Sections */
section {
    padding: 5% 10%;
}

/* Main Home Section */
.main-home {
    width: 100%;
    height: 100vh;
    background-image: url('../images/ds.jpg');
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.main-text h5 {
    color: red;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
}

.main-text h1 {
    color: #fff;
    font-size: 65px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;
}

.main-text p {
    color: #fff;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}

/* Main Button */
.main-btn {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #fff;
    padding: 12px 25px;
    transition: all 0.42s ease;
    border-radius: 50px;
    border-top-left-radius: 0;
}

/* Dark Mode Button */
body.dark-mode .main-btn {
    color: #fff;
    border-color: #d5d4d4;
}

body.dark-mode .main-btn:hover {
    background-color: #000;
    color: #ffffff;
}

/* Regular Hover Effect */
.main-btn:hover {
    background-color: #2c2c2c;
    color: #fff;
}

/* Down Arrow */
.down-arrow {
    position: absolute;
    top: 85%;
    right: 11%;
}

.down i {
    font-size: 30px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 12px 12px;
}

.down i:hover {
    background-color: #2c2c2c;
    color: #fff;
    transition: all 0.42s ease;
}

/* Trending Section */
.center-text h2 {
    color: #111;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
}

.center-text span {
    color: red;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2rem;
}

.row {
    position: relative;
    transition: all 0.4s ease;
}

.row img {
    width: 100%;
    height: auto;
    transition: all 0.4s ease;
}

.row img:hover {
    transform: scale(0.9);
}

/* Product Text */
.product-text h5 {
    position: absolute;
    top: 13px;
    left: 13px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: #dd7709;
    padding: 3px 10px;
    border-radius: 2px;
}

.heart-icon {
    position: absolute;
    right: 0;
    font-size: 20px;
}

.heart-icon:hover {
    color: red;
}

/* Rating */
.ratting i {
    color: #ff8c00;
    font-size: 18px;
}

/* Price */
.price h4 {
    color: #8f8d8d;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
}

.price p {
    color: ;
    font-size: 14px;
    font-weight: 600;
}

/* Reviews */
.reviews img {
    width: 100px;
    height: auto;
    border-radius: 50px;
    margin: 10px 0;
}

.reviews p {
    color: ;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 10px;
}

.reviews h2 {
    font-size: 22px;
    color: #b8b6b6;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 2px;
}

/* Update Cart */
.update-cart {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, auto));
    gap: 1rem;
}

.cart img {
    width: 380px;
    height: auto;
    border-radius: 5px;
}

.cart h5 {
    color: #636872;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
}

.cart h4 {
    color: ;
    font-size: 18px;
    font-weight: 600;
}

.cart p {
    color: #707070;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 12px;
}

.cart h6 {
    color: ;
    font-size: 14px;
    font-weight: 500;
}

/* Contact Section */
.contact {
    background-color: #f3f4f6;
}

.contact-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 3rem;
}

.first-info img {
    width: 140px;
    height: auto;
}

.contact-info h4 {
    color: #727272;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.contact-info p {
    color: ;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .42s ease;
}

.contact-info p:hover {
    color: red;
}

/* Social Icons */
.social-icon i {
    color: #565656;
    margin-right: 10px;
    font-size: 20px;
    transition: all .42s;
}

.social-icon i:hover {
    transform: scale(1.3);
}

/* End Text */
.end-text {
    background-color: #edfff1;
    text-align: center;
    padding: 20px;
}

.end-text p {
    color: #969494;
    text-transform: capitalize;
}

/* Media Queries */
@media (max-width: 890px) {
    header {
        padding: 20px 3%;
        transition: .4s;
    }
}

@media (max-width: 630px) {
    .main-text h1 {
        font-size: 50px;
        transition: .4s;
    }

    .main-text p {
        font-size: 18px;
        transition: .4s;
    }

    .main-btn {
        padding: 10px 20px;
        transition: .4s;
    }
}

@media (max-width: 750px) {
    .navmenu {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 130vh;
        background: #edfff1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .42s;
    }

    .navmenu a {
        display: block;
        margin: 18px 0;
    }

    .navmenu.open {
        right: 0;
    }
}
